<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MALL_ID</key>
	<string>2</string>
	<key>AppTheamColor</key>
	<array>
		<string>249</string>
		<string>119</string>
		<string>48</string>
	</array>
	<key>testMallID</key>
	<string>2</string>
	<key>BaseUrl</key>
	<string>http://35.160.251.153:8081/</string>
	<key>testBaseUrl</key>
	<string>http://35.160.251.153:8081/</string>
	<key>getMaster</key>
	<string>Services/getMasters?</string>
	<key>SidePanelList</key>
	<array>
		<string>Home</string>
		<string>About us</string>
		<string>Orders</string>
		<string>Wishlist</string>
	</array>
	<key>APPFONT_NAME_REGULAR</key>
	<string>Roboto-Regular</string>
	<key>APPFONT_MEDIUM</key>
	<integer>13</integer>
	<key>APPFONT_LARGE</key>
	<integer>15</integer>
	<key>APPFONT_SMALL</key>
	<integer>12</integer>
	<key>ISPagerEnable</key>
	<false/>
	<key>PRODUCT_NAME</key>
	<string>FitSport</string>
	<key>signInMethod</key>
	<string>MobileAPIs/loginConsumerForOrg?</string>
	<key>signUpMethod</key>
	<string>MobileAPIs/regAndloyaltyAPI?</string>
	<key>placeOrder</key>
	<string>MobileAPIs/postedJobs?</string>
	<key>forgotPassordMethod</key>
	<string>MobileAPIs/forgotpwd?</string>
	<key>changePassword</key>
	<string>MobileAPIs/changePassword?</string>
	<key>updateProfile</key>
	<string>MobileAPIs/updateUserDetails?</string>
	<key>photoUpload</key>
	<string>Services/uploadFileFromAndroidToServer</string>
	<key>varifyingEmailForOTP</key>
	<string>MobileAPIs/accountVerification?</string>
	<key>payMentGateWay</key>
	<string>http://54.179.48.83:9000/OngoStoresPG/fitSportPG?</string>
	<key>sendingOTP</key>
	<string>MobileAPIs/sendFitsportSMS?</string>
	<key>comparingOTP</key>
	<string>MobileAPIs/verifyOTP?</string>
	<key>updateUserDetails</key>
	<string>MobileAPIs/updateMultipleProperties?</string>
	<key>paymentTestBaseURL</key>
	<string>http://54.179.48.83:9000/OngoStoresPG/fitSportPG?</string>
	<key>paymentProductionUrl</key>
	<string>http://54.179.48.83/OngoStoresPG/fitSportPG?</string>
	<key>createBookingHistoryByPId</key>
	<string>MobileAPIs/createBookingHistoryByPId?</string>
	<key>postQuestion</key>
	<string>MobileAPIs/postAQuestionAndAnswer?</string>
	<key>getPostedQuestions</key>
	<string>MobileAPIs/getPostedQuestions?</string>
	<key>getPostedAnswers</key>
	<string>MobileAPIs/getPostedAnswers?</string>
	<key>getHomeFeeds</key>
	<string>MobileAPIs/getUserPosts?</string>
	<key>userFollow</key>
	<string>Services/createORGetJobInstance?</string>
	<key>userUnFollow</key>
	<string>Services/deleteJobInstanceOrActivity?</string>
	<key>getUserFollowers</key>
	<string>MobileAPIs/getFollowers?</string>
	<key>getUserFollowings</key>
	<string>MobileAPIs/getFollowing?</string>
	<key>updatePostLike</key>
	<string>Services/saveOrUpdateSocialActivity?</string>
	<key>postComments</key>
	<string>jobs/saveJobCommentJSON?</string>
	<key>AppBgColr</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
